/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.css';
/*@import '~@angular/material/prebuilt-themes/indigo-pink.css';*/
.bg_background{
    background-image: url("../../company-facing-it-portal/src/assets/front.jpeg");
    background-color: #54a06d;
    background-repeat: no-repeat;
     /* This ensures the image covers the container */
    background-position: left;
    width: 500px;
    height: 600px;
}